
header{
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: black solid 5px;
}

header > nav{
    position: absolute;
    right: 0;
}

header > nav > a{
    text-decoration: none;
    margin: 0 10px;
}

main{
    position: relative;
}

aside{
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: indigo;
    color: white;
}

main > section > p{
    margin: 0;
}

section{
    margin-left: 210px;
}

main > aside > nav > a{
    display: block;
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 10px 20px 10px 40px;
}

main > section > div{
    width: 98%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

main > section > div > div{
    border: black solid 2px;
    background-image: url("../assests/catGif.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    background-color: gray;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 15px;
}